<header class="navbar border-bottom mb-4">
    <div class="container">
        <ul class="nav nav-pills me-auto">
            <li class="nav-item"><a href="/" class="nav-link{% if page == 'main' %} active{% endif %}">Главная</a></li>
            {% if user %}<li class="nav-item"><a href="/books" class="nav-link{% if page == 'books' %} active{% endif %}">Книжки</a></li>{% endif %}
        </ul>
        <ul class="nav nav-pills">
            {% if not user %}
            <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="T6h4dWpVNnbot" data-size="large" data-auth-url="https://91.215.155.252:443/login" data-request-access="write"></script>
            {% else %}
            <li class="nav-item"><a href="/logout" class="nav-link">Выход</a></li>
            {% endif %}
        </ul>
    </div>
</header>