{% extends "base.html" %}
{% block content %}
<div class="alert alert-danger" id="alert" style="display: none !important;">
</div>

<div class="card">
    <div class="card-header">Создать новую записную книжку</div>
    <div class="card-body">
        <input type="text" class="form-control" id="create_book_title" placeholder="Название">
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-outline-success" id="create_book_submit">Создать</button>
    </div>
</div>

<div class="d-flex justify-content-center mt-4" id="spinner">
    <div class="spinner-border spinner-border-sm"></div>
</div>

<div class="d-flex justify-content-center mt-4 text-secondary fst-italic" id="no_books_warn" style="display: none !important;">
    У вас пока ещё нет ни одной записной книжки
</div>

<div id="books">
</div>

<script>
    document.addEventListener('DOMContentLoaded', async () =>
    {
        const create_book_title = document.getElementById('create_book_title');
        const create_book_submit = document.getElementById('create_book_submit');
        const books = document.getElementById('books');

        const spinner = document.getElementById('spinner');
        const alert = document.getElementById('alert');
        const no_books_warn = document.getElementById('no_books_warn');

        function create_book_list_item(book)
        {
            const card = document.createElement('div');
            card.id = `book_${book.id}`;
            card.classList.add('card');
            card.classList.add('mt-4');

            const card_header = document.createElement('div');
            card_header.classList.add('card-header');
            card_header.innerHTML = book.title;

            const card_body = document.createElement('div');
            card_body.classList.add('card-body');
            card_body.innerHTML = `Заметок: ${book.notes_amount? book.notes_amount : 0}`;

            const card_footer = document.createElement('div');
            card_footer.classList.add('card-footer');

            const button = document.createElement('button');
            button.classList.add('btn');
            button.classList.add('btn-outline-success');
            button.innerText = 'Просмотр';
            button.addEventListener('click', () => { window.location.href = `/notes?book_id=${book.id}`; });
            card_footer.appendChild(button);

            const button_delete = document.createElement('button');
            button_delete.classList.add('btn');
            button_delete.classList.add('btn-outline-danger');
            button_delete.classList.add('ms-2');
            button_delete.classList.add('disabled');
            button_delete.innerText = 'Удалить';
            button_delete.addEventListener('click', () => {  });
            card_footer.appendChild(button_delete);

            card.appendChild(card_header);
            card.appendChild(card_body);
            card.appendChild(card_footer);

            return card;
        }

        create_book_submit.addEventListener('click', async e =>
        {
            const title = document.getElementById('create_book_title');

            const response = await make_request(METHOD_CREATE_BOOK, {title: title.value.trim()});
            const json_response = await response.json();

            if (response.ok && json_response.ok)
            {
                no_books_warn.setAttribute(STYLE, DISPLAY_NONE);
                books.appendChild(create_book_list_item(json_response.result.book));
            }

            title.value = '';
        });

        const response = await make_request(METHOD_GET_BOOKS);

        spinner.setAttribute(STYLE, DISPLAY_NONE);

        if (!response.ok)
        {
            alert.innerText = `Ошибка HTTP: ${response.status} ${response.statusText}`;
            alert.removeAttribute(STYLE);
            return;
        }

        let json_response;
        try { json_response = await response.json(); }
        catch (e)
        {
            alert.innerText = 'Ошибка при получении ответа от сервера';
            alert.removeAttribute(STYLE);
            return;
        }

        if (!json_response.ok)
        {
            alert.innerText = `Ошибка API: ${json_response.description}`;
            alert.removeAttribute(STYLE);
            return;
        }

        if (json_response.result.books.length <= 0)
        {
            no_books_warn.removeAttribute(STYLE);
            return;
        }

        json_response.result.books.forEach(book => {
            books.appendChild(create_book_list_item(book));
        });
    });
</script>
{% endblock %}
