{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center mt-4" id="spinner">
    <div class="spinner-border spinner-border-sm" role="status"></div>
</div>

<div class="card" id="card_logged" style="display: none;">
    <div class="card-header" id="card_logged_header">Привет, <span id="first_name"></span></div>
    <div class="card-body" id="card_logged_body">Ник: <span id="username"></span>, ID: <span id="id"></span></div>
</div>

<div class="card" id="card_unlogged" style="display: none;">
    <div class="card-header" id="card_unlogged_header">Добро пожаловать</div>
    <div class="card-body" id="card_unlogged_body">Войдите в свою учётную запись с помощью Telegram и вы сможете создавать заметки и списки задач. Сервис насчитывает уже целых <span id="notes"></span> заметок и <span id="task_lists"></span> списков задач.</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async () =>
    {
        let spinner = document.getElementById('spinner');

        let card_logged = document.getElementById('card_logged');
        let card_logged_header = document.getElementById('card_logged_header');
        let card_logged_body = document.getElementById('card_logged_body');

        let card_unlogged = document.getElementById('card_unlogged');
        let card_unlogged_header = document.getElementById('card_unlogged_header');
        let card_unlogged_body = document.getElementById('card_unlogged_body');

        if (sessionStorage.getItem('auth_token'))
        {
            let id = document.getElementById('id');
            let username = document.getElementById('username');
            let first_name = document.getElementById('first_name');

            let response = await make_request(METHOD_GET_ME, {});
            let json_response = await response.json();

            id.innerText = json_response.result.id;
            username.innerText = json_response.result.username;
            first_name.innerText = json_response.result.first_name;

            spinner.setAttribute(STYLE, DISPLAY_NONE);
            card_unlogged.setAttribute(STYLE, DISPLAY_NONE);
            card_logged.removeAttribute(STYLE);
        }
        else
        {
            let notes = document.getElementById('notes');
            let task_lists = document.getElementById('task_lists');

            let response = await make_request(METHOD_GET_STATISTICS, {});
            let json_response = await response.json();

            notes.innerText = json_response.result.notes;
            task_lists.innerText = json_response.result.task_lists;

            spinner.setAttribute(STYLE, DISPLAY_NONE);
            card_unlogged.removeAttribute(STYLE);
            card_logged.setAttribute(STYLE, DISPLAY_NONE);
        }
    });
</script>

{% endblock %}
