{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center mt-4" id="spinner">
    <div class="spinner-border spinner-border-sm"></div>
</div>

<div class="card" id="card_logged" style="display: none;">
    <div class="card-header" id="card_logged_header">Привет, <span id="first_name"></span></div>
    <div class="card-body" id="card_logged_body">Ник: <span id="username"></span>, ID: <span id="id"></span></div>
</div>

<div class="card" id="card_unlogged" style="display: none;">
    <div class="card-header" id="card_unlogged_header">Добро пожаловать</div>
    <div class="card-body" id="card_unlogged_body">Войдите в свою учётную запись с помощью Telegram и вы сможете создавать заметки и списки задач. Сервис насчитывает уже <span id="notes"></span> и <span id="task_lists"></span>.</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async () =>
    {
        const spinner = document.getElementById('spinner');

        const card_logged = document.getElementById('card_logged');
        const card_logged_header = document.getElementById('card_logged_header');
        const card_logged_body = document.getElementById('card_logged_body');

        const card_unlogged = document.getElementById('card_unlogged');
        const card_unlogged_header = document.getElementById('card_unlogged_header');
        const card_unlogged_body = document.getElementById('card_unlogged_body');

        if (sessionStorage.getItem('auth_token'))
        {
            const id = document.getElementById('id');
            const username = document.getElementById('username');
            const first_name = document.getElementById('first_name');

            const response = await make_request(METHOD_GET_ME);
            const json_response = await response.json();

            id.innerText = json_response.result.user.id;
            username.innerText = json_response.result.user.username;
            first_name.innerText = json_response.result.user.first_name;

            spinner.setAttribute(STYLE, DISPLAY_NONE);
            card_unlogged.setAttribute(STYLE, DISPLAY_NONE);
            card_logged.removeAttribute(STYLE);
        }
        else
        {
            const notes = document.getElementById('notes');
            const task_lists = document.getElementById('task_lists');

            const response = await make_request(METHOD_GET_STATISTICS);
            const json_response = await response.json();

            const plural = new Intl.PluralRules('ru');
            const words = [
                {one: 'заметка', few: 'заметки', many: 'заметок'},
                {one: 'список дел', few: 'списка дел', many: 'списков дел'},
            ]

            notes.innerText = `${json_response.result.statistics.notes} ${words[0][plural.select(json_response.result.statistics.notes)]}`;
            task_lists.innerText = `${json_response.result.statistics.task_lists} ${words[1][plural.select(json_response.result.statistics.task_lists)]}`;

            spinner.setAttribute(STYLE, DISPLAY_NONE);
            card_unlogged.removeAttribute(STYLE);
            card_logged.setAttribute(STYLE, DISPLAY_NONE);
        }
    });
</script>
{% endblock %}
