{% extends "base.html" %}

{% block content %}

<div class="card" id="card_logged" style="display: none;">
    <div class="card-header" id="card_logged_header">Привет, %first_name</div>
    <div class="card-body" id="card_logged_body">Ник: %username, ID: %id</div>
</div>

<div class="card" id="card_unlogged" style="display: none;">
    <div class="card-header" id="card_unlogged_header">Добро пожаловать</div>
    <div class="card-body" id="card_unlogged_body">Войдите в свою учётную запись с помощью Telegram и вы сможете создавать заметки и списки дел. Сервис насчитывает уже целых %notes заметок</div>
</div>

<script>
    window.addEventListener('load', async () =>
    {
        let card_logged = document.getElementById('card_logged');
        let card_logged_header = document.getElementById('card_logged_header');
        let card_logged_body = document.getElementById('card_logged_body');

        let card_unlogged = document.getElementById('card_unlogged');
        let card_unlogged_header = document.getElementById('card_unlogged_header');
        let card_unlogged_body = document.getElementById('card_unlogged_body');

        card_logged_header.innerText = card_logged_header.innerText.replace('%first_name', '???');
        card_logged_body.innerText = card_logged_body.innerText.replace('%username', '???').replace('%id', '???');

        if (sessionStorage.getItem('auth_token'))
            card_logged.style.display = '';
        else
            card_unlogged.style.display = '';
    });
</script>

{% endblock %}
