{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">Создать новую заметку</div>
    <div class="card-body">
        <input type="text" class="form-control" id="create_note_title" maxlength="64" placeholder="Заголовок">
        <textarea type="text" class="form-control mt-3" id="create_note_text" maxlength="4096" placeholder="Текст"></textarea>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-outline-success" id="create_note_submit">Создать</button>
    </div>
</div>

<div class="d-flex justify-content-center mt-4" id="spinner">
    <div class="spinner-border spinner-border-sm"></div>
</div>

<div class="d-flex justify-content-center mt-4 text-secondary fst-italic" id="no_notes_warn" style="display: none !important;">
    В этой записной книжке ещё нет ни одной заметки
</div>

<div id="notes">
</div>

<script>
    document.addEventListener('DOMContentLoaded', () =>
    {
        const create_note_title = document.getElementById('create_note_title');
        const create_note_text = document.getElementById('create_note_text');
        const create_note_submit = document.getElementById('create_note_submit');
        const notes = document.getElementById('notes');

        const spinner = document.getElementById('spinner');
        const alert = document.getElementById('alert');
        const no_notes_warn = document.getElementById('no_notes_warn');

        create_note_submit.addEventListener('click', () =>
        {
            const title = document.getElementById('create_note_title');
            const text = document.getElementById('create_note_text');

            make_request(METHOD_CREATE_NOTE, {title: title.value.trim(), text: text.value.trim()})
                .then(result => {
                    no_notes_warn.setAttribute(STYLE, DISPLAY_NONE);
                    notes.appendChild(create_note_list_item(json_response.result.note));
                    title.value = '';
                    text.value = '';
                })
                .catch(error => {
                    show_alert(error.json? `Ошибка API: ${error.description}` : `Ошибка HTTP: ${error.code} ${error.text}`);
                })
                .finally(() => {
                    spinner.setAttribute(STYLE, DISPLAY_NONE);
                });
        });

        const urlParams = new URLSearchParams(window.location.search);

        make_request(METHOD_GET_NOTES, {book_id: urlParams.get('book_id')})
            .then(result => {
                if (result.notes.length <= 0) {
                    no_notes_warn.removeAttribute(STYLE);
                    return;
                }
                result.notes.forEach(note => {
                    notes.appendChild(create_note_list_item(note));
                });
            })
            .catch(error => {
                show_alert(error.json? `Ошибка API: ${error.description}` : `Ошибка HTTP: ${error.code} ${error.text}`);
            })
            .finally(() => {
                spinner.setAttribute(STYLE, DISPLAY_NONE);
            });
    });
</script>
{% endblock %}
