{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">Создать новый список задач</div>
    <form method="post" action="/method/create-task-list">
        <div class="card-body">
            <input type="text" class="form-control" name="title" required placeholder="Название">
            <div class="input-group mt-3">
                <input type="button" class="btn btn-outline-success" onclick="addTask(this)" value="+">
                <input type="text" class="form-control" id="add_task_input" placeholder="Новая задача...">
            </div>
            <hr class="mb-0">
            <div id="tasks">
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end justify-content-md-start">
            <input type="submit" class="btn btn-success" value="Создать">
        </div>
    </form>
</div>

<div class="d-flex justify-content-center mt-4 text-secondary fst-italic">У вас пока ещё нет ни одного списка дел</div>

<script>
    function addTask(e)
    {
        const task_input = document.getElementById('add_task_input');
        const value = task_input.value.trim();

        if (value <= 0)
        {
            task_input.value = '';
            return;
        }

        document.getElementById('tasks').innerHTML += `
            <div class="input-group mt-3">
                <input type="text" class="form-control" name="task" value="${value}" readonly>
                <input type="button" class="btn btn-outline-danger" onclick="deleteTask(this)" value="-">
            </div>
        `;

        task_input.value = '';
    }

    function deleteTask(e)
    {
        e.parentElement.remove();
    }
</script>
{% endblock %}
