{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">Создать новый список задач</div>
    <form id="form" autocomplete="off">
        <div class="card-body">
            <div class="form-floating">
                <input type="text" name="title" class="form-control" id="form_title" minlength="1" maxlength="64" required placeholder="Название">
                <label id="form_title_label">Название <span id="form_title_counter"></span></label>
                <div class="invalid-feedback">Название не может быть пустым</div>
            </div>
            <div class="input-group mt-3">
                <button type="button" class="btn btn-outline-success" id="form_button_add_task">+</button>
                <input type="text" class="form-control" id="form_input_add_task" placeholder="Новая задача...">
            </div>
            <div id="form_tasks">
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-outline-success" id="form_submit">
                Создать
                <div class="spinner-border spinner-border-sm" id="form_submit_spinner" style="display: none !important;"></div>
            </button>
        </div>
    </form>
</div>

<div class="d-flex justify-content-center mt-4" id="spinner">
    <div class="spinner-border spinner-border-sm"></div>
</div>

<div class="d-flex justify-content-center mt-4 text-secondary fst-italic" id="no_task_lists_warn" style="display: none !important;">
    У вас пока ещё нет ни одного списка дел
</div>

<div id="task_lists">
</div>

<script>
    document.addEventListener('DOMContentLoaded', () =>
    {
        const form = document.getElementById('form');
        const form_title = document.getElementById('form_title');
        const form_title_label = document.getElementById('form_title_label');
        const form_title_counter = document.getElementById('form_title_counter');

        const form_input_add_task = document.getElementById('form_input_add_task');
        const form_button_add_task = document.getElementById('form_button_add_task');
        const form_tasks = document.getElementById('form_tasks');

        const form_submit = document.getElementById('form_submit');
        const form_submit_spinner = document.getElementById('form_submit_spinner');

        const spinner = document.getElementById('spinner');
        const no_task_lists_warn = document.getElementById('no_task_lists_warn');

        const task_lists = document.getElementById('task_lists');


        const check_inputs = () =>
        {
            if (form_title.value.length == 0 || form_title.value.length > Number(form_title.getAttribute('maxlength')) || form_tasks.childElementCount == 0)
                form_submit.classList.add('disabled');
            else
                form_submit.classList.remove('disabled');
        };

        check_inputs();


        form_title.addEventListener('input', () =>
        {
            form_title_counter.innerText = `(${form_title.value.length}/${form_title.getAttribute('maxlength')})`;

            if (form_title.value.length == 0 || form_title.value.length > Number(form_title.getAttribute('maxlength')))
                form_title.classList.add('is-invalid');
            else
                form_title.classList.remove('is-invalid');

            check_inputs();
        });

        form_title.addEventListener('focusin', () => {
            form_title_counter.innerText = `(${form_title.value.length}/${form_title.getAttribute('maxlength')})`
        });

        form_title.addEventListener('focusout', () => {
            form_title_counter.innerText = '';
        });

        form_button_add_task.addEventListener('click', () =>
        {
            const value = form_input_add_task.value.trim();

            if (value.length == 0) {
                form_input_add_task.value = '';
                return;
            }

            form_tasks.append(create_form_task(value, check_inputs));

            check_inputs();
            form_input_add_task.value = '';
        });

        form.addEventListener('submit', event =>
        {
            event.preventDefault();

            form_submit.classList.add('disabled');
            form_submit_spinner.removeAttribute(STYLE);

            const form_data = new FormData(event.target);

            make_request(METHOD_CREATE_TASK_LIST, {title: form_data.get('title'), tasks: form_data.getAll('task')})
                .then(result => {
                    no_task_lists_warn.setAttribute(STYLE, DISPLAY_NONE);
                    form_title.value = '';
                    form_tasks.replaceChildren();
                    task_lists.append(create_task_list_list_item(result));
                })
                .catch(error => {
                    show_alert(error.json? `Ошибка API: ${error.description}` : `Ошибка HTTP: ${error.code} ${error.text}`);
                })
                .finally(() => {
                    spinner.setAttribute(STYLE, DISPLAY_NONE);
                    form_submit_spinner.setAttribute(STYLE, DISPLAY_NONE);
                });
        });


        make_request(METHOD_GET_TASK_LISTS)
            .then(result => {
                if (result.entries.length == 0) {
                    no_task_lists_warn.removeAttribute(STYLE);
                    return;
                }
                result.entries.forEach(entry => {
                    task_lists.append(create_task_list_list_item(entry, () => {}));
                });
            })
            .catch(error => {
                show_alert(error.json? `Ошибка API: ${error.description}` : `Ошибка HTTP: ${error.code} ${error.text}`);
                form_title.setAttribute('disabled', '');
                form_input_add_task.setAttribute('disabled', '');
                form_button_add_task.setAttribute('disabled', '');
                console.log(error);
            })
            .finally(() => {
                spinner.setAttribute(STYLE, DISPLAY_NONE);
            });
    });
</script>
{% endblock %}
