{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-header">Создать новую заметку</div>
    <form method="post" action="/create-note">
        <div class="card-body">
            <input type="hidden" name="book_id" value="{{book_id}}">
            <input type="text" class="form-control mb-3" name="title" required placeholder="Заголовок">
            <textarea type="text" class="form-control" name="text" required placeholder="Текст"></textarea>
        </div>
        <div class="card-footer d-flex justify-content-end justify-content-md-start">
            <input type="submit" class="btn btn-success" value="Создать">
        </div>
    </form>
</div>

{% if not notes %}
<div class="d-flex justify-content-center mt-4 text-secondary fst-italic">В этой записной книжке ещё нет ни одной заметки</div>
{% else %}
{% endif %}
{% for i in notes %}
<div class="card mt-4">
    <div class="card-header">{{i[3]}}</div>
    <div class="card-body">{{i[4]}}</div>
    <div class="card-footer d-flex">
        <form method="post" action="/delete-note">
            <input type="hidden" name="book_id" value="{{book_id}}">
            <input type="hidden" name="note_id" value="{{i[0]}}">
            <input type="submit" class="btn btn-outline-danger" value="Удалить">
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}
